
@{
    ViewData["Title"] = "Your Tasks";
}

@model List<SubmitTask>
<br />
<h1 class="display-4">Your Tasks</h1>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-10 offset-md-1 border">
            Stephen Covey's Time Management Matrix
        </div>
    </div>
    <div class="row font-weight-bold">
        <div class="col-md-5 offset-md-1 border">
            Urgent
        </div>
        <div class="col-md-5 border">
            Not Urgent
        </div>
    </div>
    <div class="row">
        <div class="vertical-text col-md-1 border  font-weight-bold">
            Important
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 1</thead>
                <tr>
                    <td class="col-1">Task</td>
                    <td class="col">Due Date</td>
                    <td class="col">Category</td>
                    <td class="col">Edit</td>
                    <td class="col">Delete</td>
                </tr>
                <tbody>
                    @foreach (var x in Model)

                    {
                        @if (x.Quadrant == 1)
                        {
                    <tr>
                        <td>@x.Task</td>
                        <td>@x.DueDate</td>
                        <td>@x.Category.CategoryName</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskID">Delete</a></td>
                    </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 2</thead>
                <tr>
                    <td class="col-1">Task</td>
                    <td class="col">Due Date</td>
                    <td class="col">Category</td>
                    <td class="col">Edit</td>
                    <td class="col">Delete</td>

                </tr>
                <tbody>
                    @foreach (var x in Model)

                    {
                        @if (x.Quadrant == 2)
                        {
                    <tr>
                        <td>@x.Task</td>
                        <td>@x.DueDate</td>
                        <td>@x.Category.CategoryName</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskID">Delete</a></td>
                    </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="vertical-text col-md-1 border  font-weight-bold">
            Not Important
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead >Quadrant 3</thead>
                <tr>
                    <td class="col-md-1">Task</td>
                    <td class="col">Due Date</td>
                    <td class="col">Category</td>
                    <td class="col">Edit</td>
                    <td class="col">Delete</td>

                </tr>
                <tbody>
                    @foreach (var x in Model)

                    {
                        @if (x.Quadrant == 3)
                        {
                    <tr>
                        <td>@x.Task</td>
                        <td>@x.DueDate</td>
                        <td>@x.Category.CategoryName</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskID">Delete</a></td>
                    </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 4</thead>
                <tr>
                    <td class="col-1">Task</td>
                    <td class="col">Due Date</td>
                    <td class="col">Category</td>
                    <td class="col">Edit</td>
                    <td class="col">Delete</td>
                </tr>
                <tbody>
                    @foreach (var x in Model)

                    {
                        @if (x.Quadrant == 4)
                        {
                    <tr>
                        <td>@x.Task</td>
                        <td>@x.DueDate</td>
                        <td>@x.Category.CategoryName</td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@x.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@x.TaskID">Delete</a></td>
                    </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>